---
layout: archive
title: "Shelf"
permalink: /shelf/
author_profile: true
---

Shelf
Welcome to my shelf! This is a simple way for me to keep track of the books and papers I’ve read or am currently reading in the field of computer science. 
Below, you’ll find a list of my reading materials categorized into specific fields within computer science

Books
Title: The Phoenix Project

Author: Gene Kim, Kevin Behr, George Spafford
Category: DevOps
Status: Finished
Title: Designing Data-Intensive Applications

Author: Martin Kleppmann
Category: Programming
Status: In progress
Title: Hands-on Machine Learning with Scikit-learn and TensorFlow

Author: Aurelien Geron
Category: Machine Learning
Status: In Progress


Explore the list and get insights into my reading journey within the field of computer science. If you have any book or paper recommendations within these categories or if you find anything particularly interesting, please let me know!
<!-- 
{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

 -->
 -->
